upstream backend {
  server localhost:3223;
}

server {
  server_name example.org;
  listen 443 ssl;

  location /generate {
    proxy_pass http://backend;
  }
}

rtmp {
  server {
    listen 1935;

    application live {
      live on;
      record off;
      on_publish http://localhost:3223/verify;
    }
  }
}
