
<div class="bannerSection">
	<h2>bTube</h2>
	<img class="logo" src="/static/logo.svg" height="50px" width="50px" /> <br />
	{{^user}}
	<a href="/login">Log In</a> | <a href="/signup">Sign Up</a>
	{{/user}}
	{{#user}}
	Signed in as <strong>{{user}}</strong> <br />
	<ul class="bannerSectionList">
		<li class="bannerSectionListItem">
			<a href="/list">Overview</a>
		</li>
		<li class="bannerSectionListItem">
			<a href="/generate">Start streaming</a>
		</li>
	</ul>
	{{/user}}
</div>